* {
    margin: 0px;
    padding: 0px;
}
.cards {
    width: 20%;
    display: inline-block;
    background-color: grey;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 15px black;
}
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 300px;
}
.title {
    text-align: center;
    padding: 5px;
}
.bottom {
    text-align: center;
    padding: 4px;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
    transition: .5s;
}